* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(147, 187, 233);
        }

        .box {
            width: 400px;
            height: 400px;
            position: relative;
            background-color: rgb(140, 240, 74);
            margin: 100px auto;
            &:hover{
                >div{
                    width: 200px;
                    height: 200px;
                    opacity: 1;
                }
                >h3{
                    color: rgb(255, 255, 255);
                    font-size: 35px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                }
            }

            * {
                position: absolute;
                transition: 1s;
            }

            >h3 {
                font-size: 25px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color: rgb(106, 120, 196);
                /* background-color: black; */
                width: 100%;
                left: 0px;
                top: 45%;
                text-align: center;

            }
            >div{
                width: 150px;
                height: 150px;
                border: 3px solid rgb(148, 81, 148);
                background-color: antiquewhite;
                opacity: 0;
                &:hover{
                        width: 100%;
                        border: 3px solid rgb(255, 159, 159);
                        background-color: rgb(255, 216, 153);
                &:first-of-type{
                    background-color: pink;
                    top: 0;
                    left: 0;
                    }

                }
                &:last-of-type{
                    background-color: pink;
                    bottom: 0;
                    right: 0;

                    }

                }
            }